<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Add New Product</title>
<script src="/js/jquery-1.12.4.min.js"></script>
<script src="/js/script.js"></script>

</head>
<body>

	<!-- NAV MENU -->
	<nav>
		<ul>
			<li><a th:href="@{/product}">All Products</a></li>
			<li><a th:href="@{/product/create}">Add Product</a></li>
			<li><a th:href="@{/invoice}">Invoices</a></li>
			<li><a th:href="@{/invoice/create}">Generate Invoice</a></li>
			<li><a th:href="@{/category}">Categories</a></li>
		</ul>
	</nav><hr></hr><br></br>
	
	<span style="color: green;" th:if="${param.message != null}" th:text="${param.message[0]}"></span>
	
	<!-- UPDATE PRODUCT -->
	<form th:if="${product != null}" th:action="@{/product/update/}+${product.getId()}" method="post">
		Update Product:<br></br>
		<hr></hr>
		Serial: <input type="text" name="serial" placeholder="Serial" th:value="${product?.getSerial()}" required="required"></input><br></br>
		Product Type: 
		<select name="type" >
			<option th:selected="${product.getType().equals('Round')}" value="Round">Round</option>
			<option th:selected="${product.getType().equals('Sized')}" value="Sized">Sized</option>
		</select><br></br>
		Category:
		<select name="categoryName" >
			<option th:each="category:${categoryList}" th:text="${category.getName()}" th:selected="${product?.getCategory()?.getName().equals(category.getName())}"></option>
		</select> 
		<a th:href="@{/category/create}">Create New Category</a>
		<br></br>
		Properties:<br></br>
		<div>
			Perimeter: <input type="number" name="productProperties.perimeter"  placeholder="Perimeter" th:value="${product?.getProductProperties()?.getPerimeter()}" required="required"></input><br></br>
			Height: <input type="number" name="productProperties.height" placeholder="Height" th:value="${product?.getProductProperties()?.getHeight()}" required="required"></input><br></br>
			Width: <input type="number" name="productProperties.width" placeholder="Width" th:value="${product?.getProductProperties()?.getWidth()}" required="required"></input><br></br>
			Length: <input type="number" name="productProperties.length" placeholder="Length" th:value="${product?.getProductProperties()?.getLength()}" required="required"></input><br></br>
			Rate: <input type="number" name="productProperties.rate" placeholder="Rate" th:value="${product?.getProductProperties()?.getRate()}" required="required"></input><br></br>
		</div>
		<br></br>
		Note:<br></br>
		<textarea type="text" name="note" placeholder="Note" th:text="${product?.getNote()}"></textarea><br></br><br></br>
		<input type="submit" value="Update Product"></input>
	</form>
	
	<!-- NEW PRODUCT -->
	<form th:if="${product == null}" th:action="@{/product/create}" method="post">
		Add Product:<br></br>
		<hr></hr>
		Serial: <input type="text" name="serial" placeholder="Serial" required="required"></input><br></br>
		Product Type: 
		<select name="type" id="dropDown" onchange="productTypeChanged(this)">
			<option value="Round">Round</option>
			<option value="Sized">Sized</option>
		</select><br></br><br></br>
		Category:
		<select name="categoryName">
			<option th:each="category:${categoryList}" th:text="${category.getName()}"></option>
		</select>
		<a th:href="@{/category/create}">Create New Category</a>
		<br></br>
		Properties:<br></br>
		<div>
			Perimeter: <input type="number" name="productProperties.perimeter" id="perimeter" value="0" placeholder="Perimeter" required="required"></input><br></br>
			Height: <input type="number" name="productProperties.height" id="height" value="0" placeholder="Height" required="required" ></input><br></br>
			Width: <input type="number" name="productProperties.width" id="width" value="0" placeholder="Width" required="required" ></input><br></br>
			Length: <input type="number" name="productProperties.length" id="length" value="0" placeholder="Length" required="required"></input><br></br>
			Rate: <input type="number" name="productProperties.rate" placeholder="Rate" required="required"></input><br></br>
		</div>
		<br></br>
		Note:<br></br>
		<textarea type="text" name="note" placeholder="Note" ></textarea><br></br><br></br>
		<input type="submit" value="Add Product"></input>
	</form>
	
</body>
</html>