<!DOCTYPE html>
	<html>
	<head>
		<meta charset="UTF-8"></meta>
		<title>Categories</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
		<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'></link>
	</head>
	<body>
		<header class="container-fluid">
			<!-- NAV MENU -->
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="col-md-8 col-md-offset-2">
						<div class="navbar-header">
						<a class="navbar-brand" th:href="@{/}">Accounting App</a>
						</div>
						<ul class="nav navbar-nav">
							<li><a th:href="@{/product}">All Products</a></li>
							<li><a th:href="@{/product/create}">Add Product</a></li>
							<li><a th:href="@{/invoice}">Invoices</a></li>
							<li><a th:href="@{/invoice/create}">Generate Invoice</a></li>
							<li><a th:href="@{/category}">Categories</a></li>
							<li><a th:href="@{/partner}">My Partners</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<a th:href="@{/category/create}">Create New Category</a><br></br>
		<ul>
			<li th:each="category:${categoryList}" th:text="${category.getName()}"></li>
		</ul>
	
	</body>
</html>