<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Edit</title>
	<script src="/js/jquery-1.12.4.min.js"></script>
	<script src="/js/script.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>
	<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'></link>
</head>
<body>

	<header class="container-fluid">
			<!-- NAV MENU -->
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" th:href="@{/}">Accounting App</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a th:href="@{/product}">All Products</a></li>
						<li><a th:href="@{/product/create}">Add Product</a></li>
						<li><a th:href="@{/invoice}">Invoices</a></li>
						<li><a th:href="@{/invoice/create}">Generate Invoice</a></li>
						<li><a th:href="@{/category}">Categories</a></li>
						<li><a th:href="@{/partner}">My Partners</a></li>
					</ul>
				</div>
				
			</nav>
			<span th:if="${param.message != null}" th:text="${param.message[0]}" style="color: red;"></span>
		</header>
	
	<span style="color: green;" th:if="${message != null}" th:text="${message}"></span>
	
	<!-- UPDATE PRODUCT -->
	<form th:if="${product != null}" th:action="@{/invoice/session/edit/}+${product.getId()}" method="post">
		Update Product:<br></br>
		<hr></hr>
		Serial: <input type="text" name="serial" placeholder="Serial" th:value="${product?.getSerial()}" required="required"></input><br></br>
		Product Type: 
		<select name="type">
			<option th:selected="${product.getType().equals('Round')}" value="Round">Round</option>
			<option th:selected="${product.getType().equals('Sized')}" value="Sized">Sized</option>
		</select><br></br>
		Category:
		<select name="categoryName" >
			<option th:each="category:${categoryList}" th:text="${category.getName()}" th:selected="${product?.getCategory()?.getName().equals(category.getName())}"></option>
		</select>
		<br></br>
		Properties:<br></br>
		<div>
			Perimeter: <input type="number" name="productProperties.perimeter" placeholder="Perimeter" th:value="${product?.getProductProperties()?.getPerimeter()}" required="required"></input><br></br>
			Height: <input type="number" name="productProperties.height" placeholder="Height" th:value="${product?.getProductProperties()?.getHeight()}" required="required"></input><br></br>
			Width: <input type="number" name="productProperties.width" placeholder="Width" th:value="${product?.getProductProperties()?.getWidth()}" required="required"></input><br></br>
			Length: <input type="number" name="productProperties.length" placeholder="Length" th:value="${product?.getProductProperties()?.getLength()}" required="required"></input><br></br>
			Rate: <input type="number" name="productProperties.rate" placeholder="Rate" th:value="${product?.getProductProperties()?.getRate()}" required="required"></input><br></br>
		</div>
		<br></br>
		Note:<br></br>
		<textarea type="text" name="note" placeholder="Note" th:text="${product?.getNote()}"></textarea><br></br><br></br>
		<input type="submit" value="Set Properties"></input>
	</form>
	
</body>
</html>